#chart {
    width: 100%;
    height: 100%;
    background-color: silver;
}

.currencySelector__block {
    position: absolute;
    top: 3em;
    left: 10em;
    height: 2.5em;
    width: 10em;
    border-radius: .5em;
    background-color: seagreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currencySelector__block h3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
}


.currencySelector__block svg {
    height: .5em;

}

.currencySelector__block ul {
    width: 100%;
    display: none;
    cursor: pointer;
    text-align: center;
}

.currencySelector__block:hover {
    height: auto;
    padding: .5em;
}
.currencySelector__block:hover   h3{
    margin-bottom: .5em;
}

.currencySelector__block:hover ul {
    display: inline;
}