#chart {
    width: 100%;
    height: 100%;
    background-color: silver;
}

.currencySelector__block {
    position: absolute;
    top: 3em;
    left: 11em;
    height: auto;
    width: auto;
    border-radius: .5em;
    color: white;
}

.currencySelector__block ul {
    display: flex;
    flex-direction: column;
}

.currencySelector__block svg {
    height: .4em;
}

.currCurrency {
    background-color: seagreen;
    padding: .5em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: .5em;
}

.currencySelector__block ul li:first-child p {
    margin: 0 .5em;
    font-size: smaller;
}

.currencySelector__block ul div {
    padding: .5em;
    max-width: 7em;
    border-radius: .5em;
    background-color: seagreen;
    margin-top: .5em;
    display: none;
    align-self: flex-end;
}

.currencySelector__block li {
    cursor: pointer;
}

.currencySelector__block ul div li {
    margin-top: .2em;
}
.currencySelector__block ul div li:hover {
    font-size: small;
    color: red;
}

.currencySelector__block ul div li:first-child {
    font-size: xx-small;
    white-space: nowrap;
    font-style: italic;
}

.currencySelector__block ul:hover div {
    display: block;
}

.currencySelector__block ul:hover .rotateArr {
    /* rotate an svg item */
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}