#dash__cont {
    height: 100vh;
    display: flex;
}

#dash__colTwo {
    flex: 10;
    background-color: #E8EDE8;
}

#dash__colThree {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.tradingUiCont {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tradingUiCont h1 {
    margin-bottom: .5em;
    font-family: Anybody;
}

.trade__btns {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.trade__btns button {
    cursor: pointer;
    border-radius: .3em;
    font-size: large;
    padding: .2em 1em;
    border: none;
    outline: none;
}

.higherPrediction {
    color: #25BB7A;
    background-color: #115538;
}

.lowerPrediction {
    color: #E4A4A0;
    background-color: #AC3931;
}

.tradeAmount__cont {
    margin-top: 1em;
    width: auto;
    max-width: 13em;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.increaseWidth {
    max-width: 25em;
}

.tradeAmount__cont p {
    text-align: center;
    position: relative;
    left: 50%;
    top: -10%;
    width: 4.5em;
    transform: translate(-50%, -10%);
    background-color: #F7F9F7;
}

.tradeBlock__alert {
    white-space: nowrap;
    height: 2.2em;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.tradeBlock__alert svg {
    background-color: white;
    height: 1.7em;
    width: 1.7em;
    margin: .5em 0;
    padding: .2em;
    border-radius: 20px;
}

.tradeAmount__cont input {
    text-align: center;
    width: 100%;
    margin-top: -1em;
    margin-bottom: .3em;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: large;
}

.tradeBlock__lineBreak {
    width: 100%;
    height: 0;
    border-top: 2px solid black;
}

.tradeBlock__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
}

.tradeBlock__btn button {
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    width: 40%;
    border: none;
}

.tradeBlock__btn button:hover {
    background-color: #B3DEC1;
    border: .2em solid #B3DEC1;
}

.tradeBlock__btn button:first-of-type:hover {
    border-bottom-left-radius: .1em;
}

.tradeBlock__btn button:nth-last-of-type(1):hover {
    border-bottom-right-radius: .1em;
}

.tradeBlock__middle {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 1em;
    height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.viewTradesCont {
    height: 50%;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
}

.pastTrades__rowOne {
    /* flex: 1; */
    min-height: 10%;
    max-height: 10%;
    /* margin: .5em 0; */

}

.pastTrades__rowOne div {
    height: 100%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.border--right {
    border-right: .1em solid black;
}

.currPastTradesTab--selected {
    color: #CDCBCD;
}

.lineBreak {
    width: 75%;
    align-self: center;
    height: .1em;
    background-color: black;
    white-space: nowrap;
    rotate: 90;
}

.pastTrades__rowTwo {
    /* border-top: 1px solid black; */
    height: 90%;
    margin-top: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.pastTrades__headers {
    position: sticky;
    top: 0em;
    background-color: #F7F9F7;
}

.pastTrades__headers h5 {
    text-decoration: underline;
}

.repeatedPast_trade_cont {
    margin-top: .7em;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.repeatedPast_trade_cont svg {
    margin: auto;
    height: 2rem;
}

.color--goodTrade {
    color: green;
}

.color--badTrade {
    color: red;
}