@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&family=Quicksand:wght@700&display=swap');


:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  font-weight: 300;
}
html,
body {
  background-color: #F7CFF6;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: larger;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-size: larger;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-size: larger;
}

/* hide input arrows  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

b {
  font-weight: bold;
}

li {
  list-style-type: none;
}
button{
  cursor: pointer;
}

/* input errors */
.formErr {
  color: red;
  background-color: aqua;
  height: 20px;
  width: 100px;
}

/* git link */
@keyframes growAlert {
  0% {
    width: 0rem;
    display: block;
  }

  10% {
    width: 30rem;
    display: none;
  }

  90% {
    width: 30rem;
    display: block;
  }

  100% {
    width: 0rem;
    display: none;
  }
}

.gitLink {
  position: absolute;
  z-index: 100;
  top: 94%;
  left: 20%;
  width: auto;
  display: flex;
  align-items: center;
}

.gitLinkAlert {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: transparent;
  user-select: none;
}

.gitLinkAlert div {
  height: 1.1rem;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 1em 0 0 1em;
  margin-right: -1.2rem;
  animation-name: growAlert;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  overflow: hidden;
  white-space: nowrap;
}

.gitLinkAlert h4 {
  margin-right: 2em;
  font-size: 1rem;
}

#linkImg {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  height: 1.8rem;
  width: 1.8rem;
  padding: 5px;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}