@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&family=Quicksand:wght@700&display=swap');


:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  font-weight: 300;
}

html,
body {
  background-color: #F7F9F7;
  overflow: hidden;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: larger;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-size: larger;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-size: larger;
}


/* width */
::-webkit-scrollbar {
  width: 0.2em;
  position: relative;
  left: 2em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 20em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 0.4em;
  background: blue;
}



/* hide input arrows  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

b {
  font-weight: bold;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}


/* table css */
table {
  table-layout: fixed;
  width: 100%;
  height: 50%;
  border-collapse: collapse;
}

table thead {
  position: sticky;
  top: -1em;
  background-color: #F7F9F7;
}

table thead tr {
  border-bottom: .1em solid #b4b4b4b1;
}

table td:first-of-type,
table td:nth-of-type(2),
table td:nth-of-type(3) {
  border-right: .01em solid #CDCBCD;
}

td {
  text-align: center;
}

td {
  padding: .1em 0;
}

td svg {
  height: 1.4rem;
  width: 1.4rem;
}


/* input errors */
.formErr {
  color: red;
  background-color: aqua;
  height: 20px;
  width: 100px;
}

/* git link */
@keyframes growAlert {
  0% {
    width: 0rem;
    display: block;
  }

  10% {
    width: 30rem;
    display: none;
  }

  90% {
    width: 30rem;
    display: block;
  }

  100% {
    width: 0rem;
    display: none;
  }
}

#chart {
  width: 100%;
  height: 100%;
}

.gitLink {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 2%;
  display: flex;
  align-items: center;
}

.gitLinkAlert {
  user-select: none;
}

.gitLinkAlert div {
  height: 1.1rem;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 1em 0 0 1em;
  margin-right: -1.2rem;
  animation-name: growAlert;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  white-space: nowrap;
}

.gitLinkAlert h4 {
  margin-right: 2em;
  font-size: 1rem;
}

#linkImg {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  height: 1.8rem;
  width: 1.8rem;
  padding: 5px;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#aboutPopUpCont {
  background-color: #F7F9F7;
  border-radius: .5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  max-width: 40%;
  max-height: 90%;
  overflow-y: scroll;
  border: 1px solid whitesmoke;
}

.keyNote {
  margin-bottom: 1em;
  color: red;
}

#aboutPopUpCont a {
  text-decoration: none;
}

.aboutProject {
  margin-top: 3em;
}

#aboutPopUpCont button {
  margin-top: 2em;
  border: none;
  border-radius: .5em;
  padding: .1em .5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#aboutPopUpCont p i {
  margin-right: 1em;
  font-size: small;
}

#closedPopUp {
  display: none;
}