.regCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regCont form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.currInput {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 500px;
    text-align: center;
    font-size: x-large;
}

.regPage__btns {
    margin-top: .5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.regPage__btns button{
    padding: 0;
    margin: 0;
    color: #3B3B58;
}
.imgValP {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: white;
    width: 14rem;
    height: 1.5rem;
    font-size: .8rem;
    margin: 0px auto;
    border-radius: 2em;
    /* margin-top: .4em; */
    position: relative;
    top: .5em;
    left: -4em;
}
#showPfp {
    visibility: visible;
    width: 3.7em;
    height: 3.7em;
    border-radius: 2em;
    margin-bottom: 1em;
}
.pfpLabel {
    margin-bottom: 1em;
    color: #3B3B58;
    border: .1em solid #3B3B58;
    padding: .3em .75em;
    cursor: pointer;
    font-size: .7rem;
    display: block;
    width: 15rem;
}
.fileInput {
    display: none;
}
.reg__age_input{
    border: none;
    background-color: transparent;
    /* width: 5em; */
    border-bottom: 1px solid #3B3B58;
    text-align: center;
    color: white;
    font-size: x-large;
    outline-width: 0;

}
.reg__err{
    background-color: white;
    border-radius: 5px;
    margin-top: .5em;
    width: auto;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 .5em;
}
.reg__err svg{
    background-color: red;
    height: 1.7em;
    width: 1.7em;
    margin: .5em 0;
    padding: .2em;
    border-radius: 20px;
}
.reg__err p{
    margin-right: .5em;
    white-space: nowrap;
}


#loginCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginCont form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginCont form input[type=text],
#loginCont form input[type=password],
.regCont form input[type=password],
.regCont form input[type=text] {
    border-radius: .4em;
    border: none;
    margin-top: .9em;
    height: 50px;
    width: 500px;
    padding-left: .9em;
    background-color: rgb(0, 0, 0, .0);
    border-bottom: .07em solid #3B3B58;
    outline: none;
    color: #ffffff;
}

#loginCont form input[type=submit],
.regCont form input[type=submit] {
    cursor: pointer;
    color: white;
    background-color: #3B3B58;
    border-radius: .3em;
    margin-top: 2.5em;
    padding: .3em 1.5em;
    border: none;
    outline: none;
}


.goBackBtn {
    border: none;
    background-color: transparent;
    margin-left: 12em;
    margin-top: 1.5em;
    white-space: nowrap;
    color: #3B3B58;
    cursor: pointer;
}

.footerP{
    margin-top: 2.5em;
    text-align: center;
    color: #3B3B58;
}

@keyframes vibrate{
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: -3px;
        left: 3px;
    }
    50% {
        top: 0px;
        left: 0px;
    }
    75% {
        top: 3px;
        left: -3px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}
.errVibrate{
    position: relative;
    animation: vibrate 0.1s linear 0s 30;
}