.arrowSelectorSvg {
    /* fill: none; */
    fill: #FFFFFF;
    /* stroke: white; */
    stroke-width: 60;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    /* rotate an svg item */
    /* transform: rotate(180deg);
    transform-origin: 50% 50%; */
}


.downArrow0 {
    fill: none;
    stroke: #AC3A31;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.downArrow1 {
    fill: #AC3A31;
}

.greenArrow0 {
    fill: none;
    stroke: #B4DDC0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.greenArrow1 {
    fill: #B4DDC0;
}


.papersIcon0 {
    fill: none;
    stroke: #444446;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.papersIcon1 {
    fill: #444446;
}

.papersIcon2 {
    fill: none;
    stroke: #444446;
    stroke-miterlimit: 10;
}

.logoutIcon0 {
    fill: none;
    stroke: #344153;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.logoutIcon1 {
    fill: none;
    stroke: #344153;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.resetIcon0 {
    fill: none;
    stroke: #344153;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.resetIcon1 {
    fill: #080808;
}

.err_exclamationPoint0 {
    fill: #FFFFFF;
}

.err_red_exclamationPoint {
    fill: #FF0000;
}

.noPfpSvg {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

.noPfpSvg2 {
    fill: #a2a2a2;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loadingSvg {
    fill: none;
    stroke: #B3DEC1;
    transform-origin: center;
    stroke-width: 30;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: spin 1s linear infinite;
}



.checkMarkSvg {
    fill: none;
    stroke: #B3DEC1;
    stroke-width: 30;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}